
body {
  background-color: #00b2b3;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
}

h1 {
    font-size: 32px;
}
p {
	font-size: 16px;
	font-family:"Times New Roman",Georgia,Serif;
    color:  #ff751a;
}
p.italic-thick {
	font-style:italic
}
span {
	font-size: 24px;
	color: #000000
}
