body {
	background-image:url('./img/background.jpg');
	background-size:100% 100%;
	background-attachment:fixed;
	background-position:center; 
  }
  .img {
	  float:right;
  }
  span{
	  font-size: 16px;
	  font-family:"Times New Roman",Georgia,Serif;
	  color:  #ff751a;
  }
  
  .basic span, .contact span{
	  font-size: 16px;
	  margin-left: 10px;
	  margin-right: 30px;
  }
  .intro {
	  margin-top: 10px;
	  display: block;
	  font-size: 18px;
	  font-family:"Times New Roman",Georgia,Serif;
	  color:  #ff751a;
  }
  .content {
	  margin-top: 5px;
	  display: block;
	  font-size: 16px;
	  
  }
  ul {
	  list-style-type : square
  }
  h2 {
	  font-size: 32px;
	  color: #003399
  }
  p {
	  font-size: 16px;
	  font-family:"Times New Roman",Georgia,Serif;
	  color:  #ff751a;
  }
  .italic-thick {
	  font-style:italic
  }
  span {
	  font-size: 18px;
	  color: #003399
  }
  a:link {background-color:#B2FF99;}    /* 未被访问的链接 */
  a:visited {background-color:#FFFF85;} /* 已被访问的链接 */
  a:hover {background-color:#FF704D;}   /* 鼠标指针移动到链接上 */
  a:active {background-color:#FF704D;}  /* 正在被点击的链接 */