
body {
  background-image:url('./img/background.jpg');
  background-repeat:repeat-y;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
}

h2 {
    font-size: 32px;
	color: #003399
}
p {
	font-size: 16px;
	font-family:"Times New Roman",Georgia,Serif;
    color:  #ff751a;
}
p.italic-thick {
	font-style:italic
}
span {
	font-size: 24px;
	color: #003399
}
